body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:aliceblue;
}

#search {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#text-input {
    height: 40px;
    width: 70%;
    font-size: 16px;
}

.question-input {
    height: 20px;
    width: 30%;
    font-size: 12px;
}

.qa-container {
    display: flex;
}

#image-input-container {
    padding: 10px;
}


#image-drop-text {
    align-self: center;
    padding: 7px;
}


#image-input {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-button {
    font-size: 15px;

    height: 40px;    
    width: 25%;
    border-radius: 8px;
    background-color:black;
    color: white;

}

.ask-button {
    font-size: 12px;

    height: 40px;    
    width: 10%;
    border-radius: 8px;
    background-color:black;
    color: white;
}


#query-image {
    height: 250px;
    width: auto;
}

#image-drop-container {
    /*Sort of important*/
    width: 400px;
    /*Sort of important*/
    height: 100px;
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 10px;
    position: relative;
    color: rgba(0,0,0,.3);
}

#result-list {
    position: absolute;
    top: 70%;
}

.result-image {
    height:150px;
    width: auto;
    border-radius: 10px;
}
.result-element {
    display: flex;
}

.result-container {
    box-shadow: 10px 10px 1px lightblue;
    background-color: white;
    padding: 10px;
    margin-bottom: 25px;
    margin-right: 30px;
    width: auto;
}

.result-text {
    padding: 10px;
}


#query-image-container {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.query-image {
    height: 75px;
    width: auto;
}

.classification-result-div {
    display: flex;
    box-shadow: 10px 10px 1px lightblue;
    background-color: white;
    padding: 10px;
    margin-bottom: 25px;
    margin-right: 30px;
    width: auto;
}

#page-links {
    display: flex;

    position: absolute;
    right: 5%;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #555;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}